body {
	background:#000000 !important;
	margin: 0;
	font:14px/22px Century Gothic,sans-serif;
	overflow-x: scroll !important;
	display:inline;
	clear:left;
	white-space:nowrap;
	height: 100%;
	overflow: hidden;
	transform: rotate(-90deg);
	transform-origin: right top;

}

 .clear {
    clear: left; 
   }

 .video 
 {
 	width:33%; 
 	height:80%;
 	 background-color:#2E2E2E; 
 	 margin:5px; border:1px black; 
 	 border-radius: 5px; 
 	 text-align: center;
 	 clear:both ;
 	 display:inline-block; 
 	 vertical-align: top;
 	  white-space:normal;
 	  margin-top: 1%;
 	  margin-bottom: 100%;
 	   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative; 
    overflow: hidden;
 }

img
{
	height: 70%;
	width: 70%;
}

a
{
	display:inline-block !important;
 	text-align: center;
     height: 100%;
     text-decoration:none;

}
.video:hover{background-color: #808080;
transition:0.5s;}

 .control
 {
 	position: fixed;
 	text-align: center;
 	margin-left: 30%;
 }
